In [1]:
import os
os.getcwd()

'C:\\Users\\hansh\\Desktop\\DS_P\\ML_P'

In [2]:
os.listdir()

['.git', '.ipynb_checkpoints', 'boston-house-prices.zip', 'ML.ipynb']

In [4]:
import zipfile
with zipfile.ZipFile('boston-house-prices.zip', 'r') as ref:
    ref.extractall('c:/users/hansh/desktop/ds_p/ml_p')

In [6]:
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'housing.csv',
 'ML.ipynb',
 'README.md']

In [8]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt 
import seaborn as sns
import tensorflow as tf
import torch

In [9]:
df = pd.read_csv('housing.csv')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 1 columns):
 0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00    505 non-null object
dtypes: object(1)
memory usage: 4.0+ KB

In [17]:
df.describe()

        0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
count                                                 505
unique                                                505
top      0.78570  20.00   3.970  0  0.6470  7.0140  84...
freq                                                    1